/* bright blue: #04B2D9
green: #038C7F
yellow: #F29F05
orange:
red: #BF5841 */

/* ========================================================  Normalize ======================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
td,
blockquote,
li {
  line-height: 1.5em;
}

html {
  scroll-behavior: smooth;
}

/* ========================================================  Elements ======================================================== */

article {
  overflow-x: scroll;
}

blockquote {
  border-left-color: #D9731A;
  border-left-style: solid;
  border-radius: 5px;
  margin-left: 2em;
  padding-left: 2em;
}

code {
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  line-height: 2;
  word-wrap: normal;
  word-break: normal;
  max-width: 80vw;
  word-wrap: break-word;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
}

.column-one {
  flex-shrink: 0;
  width: fit-content;
}

.column-two {
  flex-grow: 1;
  width: 45%;
}

footer {
  display: flex;
  position: sticky;
  bottom: 100;
  height: 10vh;
  min-width: 100%;
  border: 1px red solid;
}

header {
  color: #D9731A;
  font-size: 2em;
  margin: auto;
  width: auto;
  text-align: center;
}

section>header {
  text-align: left;
}

li>a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav>ul>li {
  background-color: #04B2D9;
  border-style: solid;
  border-width: 2px;
  color: white;
  list-style: none;
  min-height: fit-content;
  padding: .65em;
}

nav>ul>li:hover {
  background-color: #038C7F;
}

section {
  padding: 2em;
}

td {
  border-color: #D9731A;
  border-width: 2px;
  padding: 1.15em;
}

th {
  color: #D9731A;
  font-size: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

tr:nth-child(even)>td {
  background-color: #f7f7f7;
}

table {
  border-color: #D9731A;
  border-width: 2px;
  border-style: solid;
  padding: 2em;
}

/* ========================================================  Classes ======================================================== */

.block-code {
  padding: 1em;
  display: block;
  overflow-x: scroll;
}

.code-block {
  max-width: 70vw;
  overflow: scroll;
  display: block;
  padding: 1em;
}

.image {
  width: 100%;
  height: auto;
}

li::marker {
  color: #D9731A;
}

.main-content {
  width: -webkit-fill-available;
}

.nav-header {
  margin: 2em auto auto auto;
}

.nav-bar {
  max-width: 450px;
}

.sticky {
  position: sticky;
  z-index: 100;
  top: 0;
}

.title {
  text-transform: uppercase;
}

.table {
  overflow: scroll;
  max-width: 98vw;
}

#Var_Let_and_Const>article {
  align-content: flex-start;
}

/* ========================================================  Media Queries ======================================================== */

@media (max-width: 900px) {

  .sticky>ul {
    padding: 0px;
  }

  nav>div>ul>li {
    background-color: #04B2D9;
    border-style: solid;
    border-width: 2px;
    color: white;
    list-style: none;
    min-height: fit-content;
    padding: .65em;
    width: inherit;
  }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  nav>div>ul>li {
    background-color: #04B2D9;
    border-style: solid;
    border-width: 2px;
    color: white;
    list-style: none;
    min-height: fit-content;
    padding: .65em;
    width: 100%;
  }

  code {
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: black;
    font-size: 1em;
    line-height: 2;
    word-wrap: normal;
    word-break: normal;
    max-width: 100vw;
    word-wrap: break-word;
  }

  pre {
    max-width: 100vw;
    display: inline-flex;
  }

  table {
    border-color: #D9731A;
    border-width: 2px;
    border-style: solid;
    padding: 2em;
    display: inline-flex;
    max-width: 100vw;
    overflow: scroll;
  }

  .code-block {
    display: inline-flex;
    width: 80%;
    overflow: scroll;
  }
}