/* bright blue: #04B2D9
green: #038C7F
yellow: #F29F05
orange:
red: #BF5841 */


body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

blockquote {
  border-left-color: #D9731A;
  border-left-style: solid;
  border-radius: 5px;
  line-height: 2em;
  margin-left: 2em;
  padding-left: 2em;
}

.code-block {
  display: block;
  width: 80%;
}

header {
  color: #D9731A;
  font-size: 2em;
  margin-right: auto;
  margin-top: 1.5em;
  width: 80%;
}

.image {
  width: 100%;
  height: auto;
}

li > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-header {
  margin: 2em auto auto auto;
}

.nav-bar {
  flex-basis: 30%;
  flex-grow: 3;
  flex-shrink: 3;
  margin-right: 2%;

}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
}

.main-content {
  flex-grow: 7;
  flex-shrink: 7;
  flex-basis: 66%;
  margin-right: 2%;
  margin-top: 9%;
}
code {
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  line-height: 2;
  word-wrap: normal;
  word-break: normal;
  position: relative;
}

.block-code {
  display: block;
}

li::marker {
  color: #D9731A;
}

nav > div > ul > li {
  background-color: #04B2D9;
  border-style: solid;
  border-width: 2px;
  color: white;
  list-style: none;
  min-height: fit-content;
  padding: 1em;
  width: 75%;
}

nav > ul > li:hover {
  background-color: #038C7F;
}

td {
  border-color: #D9731A;
  border-width: 2px;
  padding: 1.15em;
}

th {
  color: #D9731A;
  font-size: 1.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

tr:nth-child(even) > td {
  background-color: #f7f7f7;
}

table {
  border-color: #D9731A;
  border-width: 2px;
  border-style: solid;
  padding: 2em;
}

@media (max-width: 800px) {
  body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
